@font-face {
   font-family: pixelarial;
   src: url(pixelarial.TTF);
}


body{
	background-color: #159296;
	margin: 0;
	padding: 0;
	font-family: pixelarial;
	z-index: 2;
}

h3:hover{
	opacity: 0.5;
	cursor: pointer;
}

#start{
	position: absolute;
	height: 30px;
	bottom: 2%;
	left: 0.1%;
}

#start:hover{
	cursor: pointer;
}

#clockarea{
	position: absolute;
	border-top: 2px outset grey;
	border-left: 2px outset grey;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	width: 100px;
	height: 26px;
	bottom: 1px;
	right: 0.1%;
	color: black;

}

#clock{
	position: absolute;
	top: 6px;
	left: 45%;
	font-size: 10px;
}

#footer{
	position: absolute;
	width: 100%;
	height: 32px;
	bottom: 0%;
	left: 0%;
	background-color: #C0C0C0;
	border-top: 2px outset white;
}

#documents{
	position: absolute;
	width: 50px;
	height: 60px;
	left: 15px;
	top: 215px;
}

#comp{
	position: absolute;
	width: 50px;
	height: 60px;
	left: 15px;
	top: 25px;
}

#users{
	position: absolute;
	width: 50px;
	height: 60px;
	left: 15px;
	top: 125px;
}

#trash{
	position: absolute;
	width: 50px;
	height: 60px;
	left: 15px;
	top: 415px;
}

#documentslogo{
	width: 100%;
	height: 90%;
	position: absolute;
	transform: scale(1.4);
}

#userslogo{
	width: 100%;
	height: 90%;
	position: absolute;
	transform: scale(1.3);
}

#complogo{
	width: 100%;
	height: 90%;
	position: absolute;
}

#trashlogo{
	width: 100%;
	height: 90%;
	position: absolute;
}

#trash:hover, #documents:hover, #comp:hover, #kryss:hover, #users:hover , #about:hover{
	cursor: pointer;
}

#trash:active, #documents:active, #comp:active{
	opacity: 0.8;
}

#start:active{
	opacity: 0.3;
}

#filestag, #comptag, #trashtag, #userstag, #abouttag, #contactustag{
	position: absolute;
	height: 10px;
	width: 100%;
	color: white;
	font-size: 10px;
	bottom: -6px;
	left: 0px;
	text-align: center;
}

#panel{
	position: absolute;
	width: 40%;
	height: 30%;
	left: 30%;
	top: 20%;
	visibility: collapse;
}


#volumebutton{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 2px;
	left: 4%;
	cursor: pointer;
}


#compinside{
	position: absolute;
	width: 70%;
	height: 80%;
	left: 5%;
	top: 0%;
	visibility: collapse;
}

#documentsinside{
	position: absolute;
	width: 70%;
	height: 80%;
	left: 5%;
	top: 0%;
	visibility: collapse;
}

#usersinside{
	position: absolute;
	width: 70%;
	height: 80%;
	left: 5%;
	top: 0%;
	visibility: collapse;
}

#myComputer{
	position: absolute;
	width: 90%;
	height: 90%;
	left: 5%;
	top: 10%;
	background-color: white;
}

#userspic{
	position: absolute;
	width: 100%;
}

#documentspic{
	position: absolute;
	width: 100%;
}

#comppic{
	position: absolute;
	width: 100%;
}

#bluescreen{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
	left: 0%;
	top: 0%;
	background-color: rgb(0, 0, 0);
	visibility: collapse;
}

#bluepic{
	position: absolute;
	top: 10%;
	left: 23%;
}

#namelist{
	position: absolute;
	background-color: white;
	width: 90%;
	height: 95%;
	top: 10%;
	left: 5%;
}


#kryss{
	position: absolute;
	width: 16px;
	height: 14px;
	right: 62px;
	top: 5px;
}

#kryss1{
	position: absolute;
	width: 2%;
	height: 3%;
	right: 3%;
	top: 4%;
}

#kryss2{
	position: absolute;
	width: 12px;
	height: 11px;
	right: 24px;
	top: 19px;
}

#kryss3{
	position: absolute;
	width: 2%;
	height: 3%;
	right: 3%;
	top: 4%;
}

#kryss:hover, #kryss1:hover, #kryss2:hover, #kryss3:hover{
	cursor: pointer;
}


#about{
	position: absolute;
	width: 50px;
	height: 60px;
	left: 15px;
	top: 315px;
}

#aboutpic{
	width: 100%;
	height: 90%;
	position: absolute;
	transform: scale(1.0);
}


#kryss4{
	position: absolute;
	width: 17px;
	height: 16px;
	right: 24px;
	top: 19px;
	cursor: pointer;
}

#documentspic2{
	position: absolute;
	width: 100%;
}

#aboutus{
	position: absolute;
	width: 70%;
	height: 80%;
	left: 5%;
	top: 0%;
	visibility: collapse;
}

#aboutus2{
	position: absolute;
	background-color: white;
	width: 90%;
	height: 90%;
	top: 15%;
	left: 5%;
}

#load{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: white;
	visibility: none;
}

#windowpic{
	position: absolute;
	width: 100%;
	height: 100%;
}

#logopic{
	position: absolute;
	transform: scale(1);
	z-index: 4;
	width: 70%;
	left: 15%;
	top: 0%;
}

#loadpicandbar{
	position: absolute;
	width: 40%;
	height: 70%;
	top: 15%;
	left: 30%;
}

#progress {
  width: 100%;
  background-color: #ddd;
  position: absolute;
  height: 5%;
  bottom: 10%;
  border: 2px solid #ddd;
}

#bar {
  position: absolute;
  width: 0%;
  height: 100%;
  bottom: 0%;
  background-color: #4CAF50;
  line-height: 30px;
  color: white;
text-align: center;
}

#namebar{
	position: absolute;
	width: 80%;
	height: 15%;
	left: 10%;
	top: 65%;
	color: black;
	font-size: relative;
	text-align: center;
}

#login{
	position: absolute;
	width: 40%;
	height: 40%;
	top: 38%;
	left: 30%;
}

#loginpic{
	position: absolute;
	width: 100%;
	transform: scale(1.2);
}

#loginbtn{
	position: absolute;
	right: 14.9%;
	top: 37.5%;
	transform: scale(1.5);
	cursor: pointer;

}

#logintext{
	text-align: center;
	font-family: helvetica;
	font-size: 18px;
	color: White;
}

h2{
	font-size: 35px;
	font-family: pixelarial;
	text-decoration: underline;

}



#contactus{
  position:absolute;
  width: 50px;
	height: 60px;
	left: 15px;
	top: 515px;
}

#contactuspic{
  width: 103%;
	height: 90%;
  transform: scale(1.3);
	position: absolute;

}
