@font-face {
   font-family: pixelarial;
   src: url(pixelarial.TTF);
}


body{
	background-color: #159296;
	margin: 0;
	padding: 0;
	font-family: pixelarial;
	z-index: 2;
}

h3{


}

h3:hover{
	opacity: 0.5;
	cursor: pointer;
}

#start{
	position: absolute;
	height: 30px;
	bottom: 2%;
	left: 0.1%;
}

#start:hover{
	cursor: pointer;
}

#clockarea{
	position: absolute;
	border-top: 2px outset grey;
	border-left: 2px outset grey;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	width: 100px;
	height: 26px;
	bottom: 1px;
	right: 0.1%;
	color: black;
	
}

#clock{
	position: absolute;
	top: 6px;
	left: 45%;
	font-size: 10px;
}

#footer{
	position: absolute;
	width: 100%;
	height: 32px;
	bottom: 0%;
	left: 0%;
	background-color: #C0C0C0;
	border-top: 2px outset white;
}

#files{
	position: absolute;
	width: 50px;
	height: 60px;
	left: 15px;
	top: 125px;
}

#comp{
	position: absolute;
	width: 50px;
	height: 60px;
	left: 15px;
	top: 25px;
}

#trash{
	position: absolute;
	width: 50px;
	height: 60px;
	left: 15px;
	top: 215px;
}

#filespic{
	width: 100%;
	height: 90%;
	position: absolute;
	transform: scale(1.4);
}

#comppic{
	width: 100%;
	height: 90%;
	position: absolute;
}

#trashpic{
	width: 100%;
	height: 90%;
	position: absolute;
}

#trash:hover, #files:hover, #comp:hover, #kryss:hover{
	cursor: pointer;
}

#trash:active, #files:active, #comp:active{
	opacity: 0.8;
}

#filestag, #comptag, #trashtag{
	position: absolute;
	height: 10px;
	width: 100%;
	color: white;
	font-size: 10px;
	bottom: -6px;
	left: 0px;
	text-align: center;
}

#panel{
	position: absolute;
	width: 40%;
	height: 30%;
	left: 30%;
	top: 20%;
	visibility: collapse;
}

#kryss{
	position: absolute;
	width: 16px;
	height: 14px;
	right: 62px;
	top: 5px;
}

#kryss1{
	position: absolute;
	width: 12px;
	height: 11px;
	right: 24px;
	top: 19px;
	cursor: pointer;
}

#volumebutton{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 2px;
	left: 4%;
	cursor: pointer;
}

#menu{
	position: absolute;
	width: 18%;
	height: 50%;
	bottom: 34px;
	left: 0%;
	background-color: #C0C0C0;
	border: 1px solid black;
	border-left: 20px solid grey;
	visibility: collapse;
}

#documents{
	position: absolute;
	width: 70%;
	height: 80%;
	left: 5%;
	top: 0%;
	/*visibility: collapse;*/
}

#documentspic{
	position: absolute;
	width: 100%;
}

#bluescreen{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	background-color: #0301AD;
	visibility: collapse;
}

#namelist{
	position: absolute;
	background-color: white;
	width: 90%;
	height: 95%;
	top: 10%;
	left: 5%;
}









