@font-face {
  font-family: ModernSans-Light;
  src: url(ModernSans-Light.otf);
}

body{
	background-color: #2A363B;
	margin: 0;
	padding: 0;
	font-family: ModernSans-Light;
	z-index: 2;
}

#login{
	position: absolute;
	width: 40%;
	height: 40%;
	top: 9%;
	left: 30%;
	transform: scale(0.8);
}

#loginpic{
	position: absolute;
	width: 100%;
	transform: scale(1.2);
}

#loginbtn{
	position: absolute;
	right: 14.9%;
	top: 37.5%;
	transform: scale(1.5);
	cursor: pointer;
}


#logintext{
	text-align: center;
	font-family: ModernSans-Light;
	font-size: 18px;
	color: White;
}

 #loginknapp{
  	position: absolute;
  	cursor: pointer;
  	background-color: #51834E;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
  	width: 32%;
  	height: 18%;
  	right: 31.5%;
  	top: 215%;
  	font-size: 18px;
  	box-shadow: 0 9px #777;
  	border-radius: 5px;
  }

  #loginknapp:hover { 
  	opacity: 0.8;
  }


  #loginknapp:active {
  	opacity: 0.8;
  	box-shadow: 0 5px #666;
 	  transform: translateY(4px);
  }

  #loginknapp:active{
  	transform: translateY(3px);
  	box-shadow: 0 2px #666;
  }
